body {
  font-family: 'Rounded Mplus 1c', sans-serif;
  background: #FFF7F7;
  text-align: center;
  margin: 0;
}

h1 {
  background: #FFD1DC;
  padding: 10px;
  margin: 0;
}

#summary {
  background: #CDE7FF;
  padding: 10px;
}

#unbought {
  background: #FFE4B5;
  padding: 10px;
}

.fc-daygrid-day.fc-day-past {
  background: #eee !important;
}

.hidden {
  display: none;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.modal-content {
  background: white;
  padding: 20px;
  margin: 50px;
  border-radius: 10px;
}

button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  background: #FFD1DC;
}

input, textarea, select {
  width: 90%;
  margin: 5px;
  padding: 8px;
}
